<head>
    <title>Projects - Nilashis Saha</title>
    <link rel="stylesheet" href="/css/styles.css?v=1.0">
    <script src="/js/script.js"></script>
</head>

<body>
    <div class="projects">
        <h1>My Projects</h1>
        <ol>
            <li><a href="/leap-year">Leap year checker</a></li>
            <li><a href="/array-search">Array Search</a></li>
            <li><a href="/char-search">Find character in string</a></li>
            <li><a href="#">40 br tags</a></li>
            <li><a href="#">Frequency of characters</a></li>
        </ol>
    </div>

    <div class="questions">
        <h1>100 JS Questions</h1>
        <iframe src="/100JSProjects" frameborder="1"></iframe>
    </div>
</body>