<head>
    <title>Projects - Nilashis Saha</title>
    <link rel="icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/styles.css?v=1.1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/script.js"></script>
</head>

<body>
    <div class="projects">
        <h1><i class="fas fa-code"></i> My Projects</h1>
        <ol>
            <li>
                <a href="/leap-year">
                    <i class="fas fa-calendar-check"></i>
                    <span>Leap Year Checker</span>
                </a>
            </li>
            <li>
                <a href="/array-search">
                    <i class="fas fa-search"></i>
                    <span>Array Search</span>
                </a>
            </li>
            <li>
                <a href="/char-search">
                    <i class="fas fa-font"></i>
                    <span>Find Character</span>
                </a>
            </li>
            <li>
                <a href="/40-br">
                    <i class="fas fa-code"></i>
                    <span>40 BR Tags</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-chart-bar"></i>
                    <span>Character Frequency</span>
                </a>
            </li>
        </ol>
    </div>
</body>