# Ignore node_modules
node_modules

# Ignore build files
build
docker-compose.yml
docker-compose.yaml
Dockerfile

# Ignore .env files
.env

# Ignore .DS_Store
.DS_Store

# Ignore .vscode
.vscode

# Ignore .idea
.idea

# Ignore .vercel
.vercel
