@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

h1 {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
    font-family: Aladin;
}

.card {
    margin: 0 auto;
    width: 30rem;
}

.card-body {
    margin: 0 0 0 7%;
}

.card-body p {
    font-family: Mulish;
    padding-top: 3%;
    margin-bottom: 0%;
}

input {
    border-radius: 5px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.395);
}

input:focus {
    border-color: white;
}

input[type="number"] {
    width: 90%;
    position: relative;
    padding-left: 3%;
}

input[type="submit"] {
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    width: 20%;
    position: absolute;
    right: 58px;
    background-color: rgb(68, 169, 212);
}

.clear-array {
    width: 90%;
    margin-top: 20px;
    display: flex;
    justify-content: right;
}

#array {
    width: 90%;
    margin-top: 20px;
    display: flex;
    justify-content: left;
    font-family: Amaranth;
    font-size: 18px;
}

#clear-array {
    margin-left: 10px;
}

#output {
    margin-left: 10px;
}
